.navbar-lewagon {
  // [...]
  background-color: transparent;
  transition: 0.3s background-color ease;
}
.navbar-lewagon-white {
  background-color: white;
}

.navbar {
  li {
    margin-left: 30px;
    font-weight: 600;
  }
  a:link,
  a:visited {
    color: #b3634f;
    text-decoration: none;
    transition: border-bottom 0.2s, color 0.2s;
  }
  a:hover,
  a:active {
    color: #b3634f;
  }
}

.logo {
  img {
    height: 50px;
  }
}
